.initially-hidden {
  display: none;
}

.clickable {
  color: blue;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.purple-background {
  background-color: purple;
}

.green-background {
  background-color: green;
}

.white-background {
  background-color: white;
}

.btn-custom {
  background-color: purple;
  color: white;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: purple;
  border-color: purple;
  color: white;
}
